@font-face {
  font-family: "DeterminationMonoWeb";
  font-style: normal;
  font-weight: 400;
  src: local("DeterminationMonoWeb"), local("DeterminationMonoWeb"), url(../fonts/DeterminationMonoWeb.woff) format("woff");
}
body {
  text-align: center;
  background: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.titulo{
  font-family: "DeterminationMonoWeb", "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
.youtube {
  margin: 10px;
  max-width: 100%;
}
.winner {
  font-family: "DeterminationMonoWeb", "Roboto", sans-serif;
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.update {
  font-family: monospace;
  font-size: 1em;
}

#turno {
  margin-top: 10px;
}