@font-face {
  font-family: "DeterminationMonoWeb";
  font-style: normal;
  font-weight: 400;
  src: local("DeterminationMonoWeb"), local("DeterminationMonoWeb"), url(../fonts/DeterminationMonoWeb.woff) format("woff");
}
.vs{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}
.subtitulo {
  font-family: "DeterminationMonoWeb", "Roboto", sans-serif;
  visibility: hidden;
  max-width: 100%;
  font-weight: normal;
}
.typewriter {
  visibility: visible;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}
@keyframes type{
  from {width: 0;}
}
#player {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.winner {
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 20px; 
}
.update {
  font-family: monospace;
  font-size: 1em;
}
.perdedor {
  margin-top: 10px;
  margin-bottom: 10px;
}
#turno {
  margin-top: 20px;
}